# Python virtual environments
venv310/
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Webots cache + logs
*/.webots_cache/
logs/
*.log

# macOS junk files
.DS_Store

# Torch / Large files
*.pt
*.pth
*.npz

# Robot-generated maps and temporary files
*.png
*.jpg
*.npy
slam_map_*.npy

# Jupyter notebooks checkpoints (if any)
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Logger + ML training data
controllers/simple_logger/
ml/data/